<div class="main-started">
    <div class="header-started">
        <ul>
            <li>
                <a href="">Features</a>
            </li>
            <li>
                <a href="/payment/payment">Premium</a>
            </li>
            <li>
                <a href="">About us</a>
            </li>
            <li>
                <a href="/user/login">Login</a>
            </li>
        </ul>
    </div>
    <div class="content-started">
        <div class="banner" data-aos="zoom-in">
            <img src="/img/get-started-task.png" alt="abc">
        </div>
        <div class="content-img mt-5">
            <span>
                <strong>TaskVn</strong>
                is a website help note your daily tasks. Moreover, we can Create Group to do our task together.
            </span>
        </div>

    </div>
    <div class="footer-started">
        <div class="row">
            <div class="col-4">
                <ul>
                    <li>Features</li>
                    <li>Payment</li>
                    <li>About us</li>
                </ul>
            </div>
            <div class="col-4"></div>
            <div class="col-4">
                <span class=" facebook">
                    <a href="https://www.facebook.com/taiduong1411/">
                        <i class="bi bi-facebook"></i>
                    </a>
                </span>
                <span class="instagram">
                    <a href="https://www.instagram.com/__taiduong">
                        <i class="bi bi-instagram"></i>
                    </a>
                </span>
                {{!-- <span class="messenger">
                    <i class="bi bi-messenger"></i>
                </span> --}}
            </div>
        </div>
        <div class="end-footer">
            <span>Coppy right @Taiduong since 2023</span>
        </div>
    </div>
</div>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>