<div class="main">
    <div class="container">
        <section class="wrapper">
            <form class="form" action="/user/forgot-password" method="post">
                <div class="input-control">
                    <label for="email" class="input-label" hidden>Email Address</label>
                    <input type="email" name="email" id="email" class="input-field" placeholder="Email Address">
                </div>
                <div class="input-control" style="float:right">
                    <button type="submit" name="submit" class="input-submit">Verify</button>
                </div>
            </form>
        </section>
    </div>
    {{#if error}}
    <div id="error">{{error}}</div>
    {{/if}}
</div>
<script>
    $(document).ready(function () {
        setTimeout(function () {
            $('#error').fadeOut()
        }, 2000)
    })
</script>