<div class="main">
    <div class="container">
        <section class="wrapper">
            <form class="form" action="/user/forgot-password-reset" method="post">
                <div class="input-control">
                    <label for="password" class="input-label" hidden>New Password</label>
                    <input type="password" name="password" id="password" class="input-field" placeholder="New Password">
                </div>
                <div class="input-control" style="float:right">
                    <button type="submit" name="submit" class="input-submit">Change</button>
                </div>
            </form>
        </section>
    </div>
    {{#if error}}
    <div id="error">
        {{error}}
    </div>
    {{/if}}
    {{#if success}}
    <div id="success">{{success}}</div>
    {{/if}}
</div>
<script>
    $(document).ready(function () {
        setTimeout(function () {
            $('#error').fadeOut('slow')
            $('#success').fadeOut('slow')
        }, 2000)
    })
</script>