<div class="main">
    <div class="container">
        <section class="wrapper">
            <div class="heading">
                <h1 class="text text-large">Sign Up</h1>
            </div>
            <form name="signin" class="form" action="/user/register" method="post">
                <div class="input-control">
                    <label for="fullName" class="input-label" hidden>Full Name</label>
                    <input type="text" name="fullName" id="fullName" class="input-field"
                        placeholder="Enter Your Full Name">
                </div>
                <div class="input-control">
                    <label for="email" class="input-label" hidden>Email Address</label>
                    <input type="email" name="email" id="email" class="input-field"
                        placeholder="Enter Your Email Address">
                </div>
                <div class="input-control">
                    <label for="phoneNumber" class="input-label" hidden>Phone Number</label>
                    <input type="text" name="phoneNumber" id="phoneNumber" class="input-field"
                        placeholder="Enter Your Phone Number">
                </div>
                <div class="input-control">
                    <label for="address" class="input-label" hidden>Address</label>
                    <input type="text" name="address" id="address" class="input-field" placeholder="Enter Your Address">
                </div>
                <div class="input-control">
                    <label for="password" class="input-label" hidden>Password</label>
                    <input type="password" name="password" id="password" class="input-field"
                        placeholder="Enter Your Password">
                </div>
                <div class="input-control">
                    <a href="/user/login" class="text text-links">Have an account ?</a>
                    <button type="submit" name="submit" class="input-submit">Sign Up</button>
                </div>
            </form>
        </section>
    </div>
    {{#if error}}
    <div id="error">
        {{error}}
    </div>
    {{/if}}
    {{#if success}}
    <div id="error">
        {{success}}
    </div>
    {{/if}}
</div>
<script>
    $(document).ready(function () {
        setTimeout(function () {
            $('#error').fadeOut()
        }, 2000)
    })
</script>