<div class="main">
    <div class="container">
        <section class="wrapper">
            <form class="form" action="/user/send-code" method="post">
                <div class="ml-2 notiEmailCode">
                    <span>Accept For Email Code</span>
                </div>
                <div class="input-control" style="float:right">
                    <button type="submit" class="input-submit">Send</button>
                </div>
            </form>
        </section>
    </div>
</div>
<script>
    $(document).ready(function () {

    })
</script>